.about {
  height: 100%;
  min-height: 100vh;
  display: flex;
  place-content: center;
  background: #000000;
  padding: 5%;
}

.about h2 {
  font-size: 2rem;
  color: #dba704;
  text-align: left;
}

.about p {
  line-height: 200%;
  font-size: 115%;
}
