.artist {
  min-height: 100vh;
  height: 100%;
  padding: 20px;
  display: flex;
  place-content: center;
  background-image: url("../images/Elements.svg");
  background-position: top right;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 250ms ease-out;
}

.artist h2 {
  font-size: 3em;
  margin-left: 20px;
  color: #fff;
  text-align: center;
}

.artistList {
  display: grid;
  padding: 50px 10px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 40px;
  width: fit-content;
  white-space: nowrap;
}

.art {
  color: white;
  transition: all 250ms ease-out;
}

.art:hover {
  color: #dba704;
}

@media only screen and (max-width: 600px) {
  .artist {
    display: flex;
    flex-direction: column;
  }
}
