.korsah {
  height: 100%;
  place-content: center;
  background: #000000;
  display: grid;
  grid-template-columns: 0.8fr 1.5fr;
}

.korsah h4 {
  font-size: 2.5em;
  color: #fff;
}

.yellow img {
  max-width: 100%;
  transform: translate(35%, 45%);
}

.blue {
  padding: 17% 18% 5vw 30%;
}

.biography {
  text-align: justify;
  padding: 5%;
}

.biography h5 {
  color: #dba704;
  font-size: 20px;
}

.biography p {
  font-size: 114%;
  /* font-size: 18px; */
  line-height: 30px;
}

.listen {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spotify iframe {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .korsah {
    display: flex;
    height: fit-content;
    flex-direction: column-reverse;
  }

  .korsah h4 {
    margin: 10px 20px 25px;
  }

  .blue {
    height: fit-content;
    padding: 10% 0%;
  }

  .yellow {
    height: 50vh;
    margin-top: 50px;
    padding: 20px;
  }

  .yellow img {
    transform: translate(0%, -20%);
  }
}
